@import url('https://fonts.googleapis.com/css?family=Train+One&display=swap');
@import url('https://fonts.googleapis.com/css?family=Prata&display=swap');
@import url('https://fonts.googleapis.com/css?family=Spectral&display=swap');

.header
, .midcontainer1
, .midcontainer2
, .midcontainer3
, .midcontainer4
, .footer{
    padding-left: 48px;
    padding-right: 48px;
}


body{
    display: flex;
    flex-direction: column;
}

a{
    all: unset;
  }

.header-logo{
 font-family: 'Spectral', 'Prata', sans-serif, 'Times New Roman', Times, serif;   
}
/*'Train One'*/


.header, .midcontainer1, .footer{
    background-color: #1F2937;
    color: #f9faf8;
}

.header{
    font-size: 24px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

ul li{
    display: inline;
    list-style-type: none;
    font-size: 18px;
    color: #e5e7eb;;
    margin: 8px;
}


.midcontainer1{
    display: flex;
    padding-top: 36px;
    padding-bottom: 36px;
    min-height: 100%;
}

.leftsub1{
    flex: 1;
}
    .leftsub1-1{
        font-size: 48px;
        font-weight: 800;
    }
    .leftsub1-2{
        font-size: 18px;
        color: #e5e7eb;
    }

    button{
        color: white;
        background-color: #3882f6;
        border-radius: 6px;
        padding: 5px;
        font-weight: 700;
    }

.rightsub1{
    background-color: rgb(109,116,125);
    display: flex;
    text-align: center;
    flex: 1;
    justify-content: center;
    align-items: center;
}



.midcontainer2{
    display: flex;
    flex-direction: column;
    text-align: center;
    padding-top: 20px;
    padding-bottom: 40px;
    padding-right: 60px;
    padding-left: 60px;
}

.mc2-top{
    padding-bottom: 12px;
    font-weight: 800;
    font-size: larger;
}

.mc2-bottom{
    display: flex;
    flex-direction: row;
    justify-content: center;
    text-align: center;
}

.card-container{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.card{
    width: 120px;
    height: 120px;
    margin-top: 3px;
    margin-bottom: 3px;
    outline: 2px solid #3882f6;
    border-radius: 3px;
}

.midcontainer3{
    display: flex;
    flex-direction: column;
    background-color: #e5e7eb;
    color: #1f2937;
    font-size: 36px;
    font-weight: 300;
    font-style: italic;
    padding-right: 75px;
    padding-left: 75px;
    border: center;
}

.quote-by{
    text-align: right;
    font-size: 24px;
    font-style: normal;
}

.sub-mc4{
    background-color: #3882f6;
    color: #e5e7eb;
    border-radius: 6px;
    display: flex;
    justify-content: space-between;
    margin-top: 40px;
    margin-bottom: 40px;
    padding-top: 40px;
    padding-bottom: 40px;
    padding-left: 60px;
    padding-right: 60px;
}



.top{
    font-size: 24px;
    font-weight: 800;
}

.button{
    background-color: #3882f6;
    border-color: #e5e7eb;
    border-width: px;
    border-radius: 6px;
    padding: 5px;
    font-weight: 700;
}


.footer{
    text-align: center;
}



/*NAVBAR WORK*/
/* Navbar container */
.navbar {
    overflow: hidden;
    background-color:  rgba(30, 161, 139, 0.637);
    font-family: Arial;
  }
  
  /* Links inside the navbar */
  .navbar a {
    float: left;
    font-size: 16px;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  
  /* The dropdown container */
  .dropdown {
    float: left;
    overflow: hidden;
  }
  
  /* Dropdown button */
  .dropdown .dropbtn {
    font-size: 16px;
    border: none;
    outline: none;
    color: white;
    padding: 14px 16px;
    background-color: inherit;
    font-family: inherit; /* Important for vertical align on mobile phones */
    margin: 0; /* Important for vertical align on mobile phones */
  }
  
  /* Add a red background color to navbar links on hover */
  .navbar a:hover, .dropdown:hover .dropbtn {
    background-color: rgba(30, 161, 139, 0.637);
  }
  
  /* Dropdown content (hidden by default) */
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #b7f5d8b7;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(27, 44, 43, 0.2);
    z-index: 1;
  }
  
  /* Links inside the dropdown */
  .dropdown-content a {
    float: none;
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
  }
  
  /* Add a grey background color to dropdown links on hover */
  .dropdown-content a:hover {
    background-color: #ddd;
  }
  
  /* Show the dropdown menu on hover */
  .dropdown:hover .dropdown-content {
    display: block;
  }